<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDB</param-name>
        <param-value>bd_usuarios</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value></param-value>
    </context-param>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
        <url-pattern>/mensaje_crear</url-pattern>
        <url-pattern>/mensaje_buscar</url-pattern>
        <url-pattern>/mensaje_guardar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Header and Footer</description>
            <url-pattern>/WEB-INF/vistas/*</url-pattern>
            <include-prelude>/WEB-INF/seccion/header.jspf</include-prelude>
            <include-coda>/WEB-INF/seccion/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
